/* body */

body{
    padding: 0%;
    margin: auto;
    background-color: #ebfefd;
}

/* footer */

footer{
    width: 100%;
    height: 12%;
    margin-top: 6%;
    background-color: #85f7fd;
}

/* fontes */

@font-face{
    font-family: "Montserrat Regular";
    src: url(../static/font/Montserrat-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url(../static/font/Montserrat-SemiBold.ttf) format(truetype);
}

@font-face {
    font-family: "Montserrat ExtraBold";
    src: url(../static/font/Montserrat-ExtraBold.ttf) format(truetype);
}

@font-face {
    font-family: "Montserrat Bold";
    src: url(../static/font/Montserrat-Bold.ttf) format(truetype);
}

@font-face {
    font-family: "Grillages";
    src: url(../static/font/magma-demo.ttf) format(opentype);
}

