/* header */

.logo {
    padding-left: 10%;
    padding-top: 1%;
}

.container-link {
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    font-size: 1em;
    font-family: "Montserrat Bold";
    color: #141219 !important;
    text-decoration: none !important;
    transform: 0.3s;
}

#link {
    font-size: 1.1em;
}

#link :hover {
    font-family: "Montserrat ExtraBold";
    color: #141219 !important;
    text-decoration: none !important;
    transition: 0.8s;
}

/* body */
/* escrita */

p {
    margin-left: 7%;
    margin-right: 7%;
    font-family: "Montserrat Bold";
    color: #141219;
    font-size: 1em;
    text-align: center;
}


h1 {
    text-align: center;
    font-family: "Montserrat ExtraBold";
    font-size: 1.5em;
    color: #141219;
}

h2 {
    text-align: center;
    font-family: "Montserrat ExtraBold";
    font-size: 1em;
    color: #141219;
}

b {
    font-family: "Montserrat ExtraBold";
    font-size: 1em;
    color: #141219;
}


/* home */

.container {
    display: flex;
    flex-flow: wrap;
    flex: content;
    justify-content: center;
}

.leaf {
    padding-top: 12%;
}

.laura {
    padding-top: 5%;
    width: 1%;
    font-family: "Montserrat ExtraBold";
    font-size: 1.5em;
    font-weight: bolder;
    text-align: left;
    color: #141219;
}

.laulau {
    padding-left: 25%;
    padding-top: 4%;
}

/* projetos e hobbies */

.hobbies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hobbies img {
    margin: 0% 2%;
}

.projetos {
    display: flex;
    justify-content: center;
}

.projetos img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.youtube {
    display: flex;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}

.youtube img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* capacidades */

.capacidades {
    display: flex;
    justify-content: center;
    align-items: center;
}

.capacidades img {
    margin: 0% 2%;
}


/* responsividade */

@media screen and (max-width: 800px) {
    .logo {
        padding-left: 5%;
    }

    .container-link {
        padding-top: 2%;
    }

    p {
        margin-left: 4%;
        margin-right: 4%;
        font-size: 0.9em;
    }

    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 0.8em;
    }

    .container {
        p
    }

    .leaf {
        padding-top: 12%;
    }

    .laura {
        padding-left: 3%;
        width: 1%;
        font-size: 1.1em;
    }

    .laulau {
        padding-left: 30%;
        padding-top: 3%;
    }

    #link {
        font-size: 0.9em;
    }

    footer {
        margin-top: 60%;
    }

    .logo {
        padding-left: 2%;
    }

    .container-link {
        padding-top: 3%;
    }

    p {
        margin-left: 7%;
        margin-right: 7%;
    }

    .hobbies img {
        width: 22%;
    }

}