<html>
    {% extends "base.html" %}
    {% block content %}
    <body>
        <div>
            <h2>RECONHECIMENTOS</h2>
            <p>Fui oradora na minha formatura do ensino médio e recebi algumas medalhas e bolsa parcial durante os ensinos fundamental e médio por bom desempenho escolar.</p>
            <h2>CURSOS E IDIOMAS</h2>
            <p>conhecimento de nível básico de excel, básico de espanhol (A1-A2) e proficiente de inglês (C2).</p>
            <h2>CAPACIDADES</h2>
            <p>Atualmente estou aprendendo a utilizar ferramentas como HTML5, CSS3, MySQL, Python e Github na faculdade.</p>
        </div>
        <div>
            <img src="../static/img/html.png" alt="html" width="200px">
            <img src="../static/img/css.png" alt="css" width="200px">
            <img src="../static/img/mysql.png" alt="MySQL" width="200px">
            <img src="../static/img/python.png" alt="python" width="200px">
            <img src="../static/img/github.png" alt="github" width="200px">
        </div>

    </body>
    {% endblock %}
</html>