{% extends "base.html" %}
{% block content %}

<body>
    <div>
        <h1>Meus Hobbies</h1>
    </div>
        <h2>Desenhar</h2>
        <div class="hobbies">
            <img src="../static/img/desenhod.png" alt="desenho grafite" width="15%">
            <img src="../static/img/desenhoc.png" alt="desenho lapis de cor" width="15%">
            <img src="../static/img/desenhob.png" alt="desenho aquarela" width="15%">
        </div>
    <div>
        <h2></h2>

    </div>
        <h2></h2>

    <div>
        <h2></h2>
    </div>
        <h2></h2>
    <div>
        <h2></h2>
    </div>
</body>