<html>
{% extends "base.html" %}
{% block content %}

<body>
    <div>
        <h1>Meus Hobbies</h1>
    </div>
    <h2>Desenhar</h2>
    <br>
    <div class="hobbies">
        <img src="../static/img/desenhod.png" alt="desenho grafite" width="15%">
        <img src="../static/img/desenhoc.png" alt="desenho lapis de cor" width="15%">
        <img src="../static/img/desenhob.png" alt="desenho aquarela" width="15%">
    </div>
    <div>
        <br>
        <br>
        <h2>Crimes Reais, Casos Misteriosos e Sobrenaturais</h2>
        <br>
        <br>
        <div class="youtube">
            <a href="https://youtu.be/qg2nGY1aqlg" target="_blank">
                <img src="../static/img/unsolved.png" alt="unsolved">
            </a>
            <a href="https://youtu.be/u5WOrvW9G7o" target="_blank">
                <img src="../static/img/cafezinho.png" alt="cafezinho">
            </a>
            <a href="https://youtu.be/i3lHqoGGe4Q" target="_blank">
                <img src="../static/img/amityville.png" alt="amityville">
            </a>
        </div>
        <br>
        <br>

    </div>
    <h2>Anime</h2>
    <br>
    <br>
    <div class="hobbies">
        <img src="../static/img/bnh.png" alt="bnh" width="15%">
        <img src="../static/img/snk.png" alt="snk" width="15%">
        <img src="../static/img/jjk.png" alt="jjk" width="15%">
    </div>
</body>

{% endblock %}

</html>