<html>
{% extends 'base.html' %}
{% block content %}

<body>
    <div class="container">
        <div class="leaf"><img src="../static/img/leaf.png" alt="" width="23%"></div>
        <div class="laura">
            <h1>Laura Gabriel Gonçalves</h1>
        </div>
        <div class="laulau"><img src="../static/img/laulau.png" alt="laura" width="250px"></div>
    </div>
    <br>
    <br>
    <br>
    <div>
        <p>Meu nome é Laura, tenho 19 anos e estou cursando o primeiro semestre de desenvolvimento de software
            multiplataforma na FATEC Prof. Jessen Vidal.
            Possuo diversos hobbies, consigo me adaptar bem a novos ambientes e faço amizades com facilidade. Sempre
            disposta a aprender mais.
        </p>
        <p>Gosto bastante de sair, viajar e estar com os meu amigos e família.
            Aos finais de semana não há nada melhor do que sair da rotina!</p>
        <p>Tenho alguns hobbies aos quais sempre dedico algum tempo. Alguns exemplos são: desenhar, assistir
            documentáriossobrenaturais e de crimes reais, anime, vôlei, ler, correr, aprender novas línguas e
            fotografar.</p>
    </div>
    <div>
        <img src="../static/img/viagem.png" alt="viagem" width="10%">
        <img src="../static/img/desenhoa.png" alt="desenho" width="10%">
        <img src="../static/img/chihiro.png" alt="anime" width="10%">
    </div>
</body>
{% endblock %}

</html>