/* header */

.logo {
    width: 50px;
    height: 50px;
    padding-left: 10%;
    padding-top: 1%;
}

.container-link{
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a { 
    font-family: "Montserrat Bold";
    color: #141219 !important;
    text-decoration: none !important;
    transform: 0.3s;
}

#link :hover {
    font-family: "Montserrat ExtraBold";
    color: #141219 !important;
    text-decoration: none !important;
    transition: 0.8s;
}

/* body */
/* escrita */

p {
    margin-left: 7%;
    margin-right: 7%;
    font-family: "Montserrat Bold";
    forced-color-adjust: #141219;
    font-size: large;
    text-align: center;
}


h1 {
    text-align: center;
    font-family: "Montserrat ExtraBold";
    forced-color-adjust: #141219;
}

h2 {

    text-align: center;
    font-family: "Montserrat ExtraBold";
    forced-color-adjust: #141219;
}



/* parte inicial */

.container {
    display: flex;
    flex-flow: wrap;
}

.leaf {
    padding-top: 10%;
    padding-left: 15%;
}

.laura {
    padding-top: 5%;
    width: 5%;
    font-family: "Montserrat ExtraBold";
    font-size: 110%;
    font-weight: bolder;
    text-align: left;
    forced-color-adjust: #141219;
}

.laulau {
    padding-left: 25%;
    padding-top: 4%;
}

/* footer */

.container-footer {
    display: grid;
    grid-row: auto auto auto auto auto;
    grid-column: auto auto auto auto auto;
}

#email {
    color: #141219 !important;
    text-decoration: none !important;
    grid-column: 2;
    grid-row: 2;
    padding-top: 5%;
    font-family: "Montserrat Bold";
}

#instagram {
    grid-column: 2;
    grid-row: 4;
    padding-top: 10%;
    font-family: "Montserrat Bold";
}

#linkedin {
    grid-column: 4;
    grid-row: 2;
    padding-top: 5%;
    font-family: "Montserrat Bold";
}

#github {
    grid-column: 4;
    grid-row: 4;
    padding-top: 10%;
    font-family: "Montserrat Bold";
    color: #141219 !important; 
    text-decoration: none !;
    transform: 0.3s;
}

#email :hover {
    font-family: "Montserrat ExtraBold";
    color: #141219 !important;
    text-decoration: none !important;
    transition: 0.8s;
}

#instagram :hover {
    font-family: "Montserrat ExtraBold";
    color: #141219 !important;
    text-decoration: none !important;
    transition: 0.8s;
}

#github :hover {
    font-family: "Montserrat ExtraBold";
    color: #141219 !important;
    text-decoration: none !important;
    transition: 0.8s;
}

#linkedin :hover{
    font-family: "Montserrat ExtraBold";
    color: #141219;
    text-decoration: none;
    transition: 0.8s;
}


.hobbies {
    align-items: center;
}